/* To be used with the Tabliss extension - https://tabliss.io/ */
/* Custom CSS to replace quick link icons using Nerd Fonts */
/* https://www.nerdfonts.com/cheat-sheet */

a:hover {
  text-decoration: none;
}

a[href*="facebook"]:after, a[href*="github"]:after, a[href*="gitlab"]:after,
a[href*="google.com/maps"]:after, a[href*="linkedin"]:after,
a[href*="mail.google"]:after, a[href*="reddit"]:after,
a[href*="spotify"]:after, a[href*="steam"]:after, a[href*="translate"]:after,
a[href*="twitch"]:after, a[href*="whatsapp"]:after,
a[href*="wikipedia"]:after, a[href*="youtube"]:after {
  color: white;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: x-large;
}

a[href*="facebook"]:after {
  content: "\f230";
}

a[href*="github"]:after {
  content: "\f7a3";
}

a[href*="gitlab"]:after {
  content: "\f296";
}

a[href*="google.com/maps"]:after {
  content: "\f279";
}

a[href*="linkedin"]:after {
  content: "\f08c";
}

a[href*="mail.google"]:after {
  content: "\f6ed";
}

a[href*="reddit"]:after {
  content: "\f281";
}

a[href*="spotify"]:after {
  content: "\f1bc";
}

a[href*="steam"]:after {
  content: "\f1b6";
}

a[href*="translate"]:after {
  content: "\fac9";
}

a[href*="twitch"]:after {
  content: "\f1e8";
}

a[href*="whatsapp"]:after {
  content: "\faa2";
}

a[href*="wikipedia"]:after {
  content: "\faab";
}

a[href*="youtube"]:after {
  content: "\f16a";
}
