# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install
# dependencies and run tests with Rake
# For more information see:
# https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: links

on:
  schedule:
    - cron: "0 7 24 * *"
  pull_request:
    branches:
      - master

jobs:
  test_links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
      # To automatically get bug fixes and new Ruby versions for
      # ruby/setup-ruby, change this to
      # (see https://github.com/ruby/setup-ruby#versioning):
        uses: ruby/setup-ruby@v1
      # uses: ruby/setup-ruby@ec106b438a1ff6ff109590de34ddc62c540232e0
        with:
          ruby-version: 2.7.1
      - name: Install dependencies
      # https://github.com/dkhamsing/awesome_bot
        run: gem install awesome_bot
      - name: Check links
        run: "awesome_bot --allow-dupe --skip-save-results --white-list
          stackexchange.com,stackoverflow.com,askubuntu.com,superuser.com,\
          username/repository,oFFvwZIEk1Y,download.opensuse.org,\
          www.amd.com,dum7q6UXiCE,gitlab.com/api `find . -name '*.md'`"
